.item img {
  width: 100px;
  height: 100px;
}

.body {
  background-image: url("https://www.freeiconspng.com/uploads/money-png-17.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.list {
  width: 100px;
  height: 100px;
}
